html{
  box-sizing:border-box;
}

*,
*::before,
*::after{
  box-sizing:inherit;
}

@font-face {
  font-family: 'Cursor Gothic';
  src: url('fonts/CursorGothic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* This shows a backup font until Cursor Gothic loads */
}

body{
  background-color: #14120b;
  color: #f7f7f4;
  font-family: 'Cursor Gothic', 'Inter', -apple-system, sans-serif;
  overflow-x: hidden;
  padding-top: 8rem;
}

.wrapper{
  max-width:1300px;
  margin: 0 auto;
}

img{
  max-width: 100%;
  border-radius: 8px;
}

header{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #14120b;
  z-index: 1000;
  padding: 1rem;
}

nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items:center;
  margin: 0 0 6rem 0;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

svg{
  width: auto;
  height:24px;
}

.logo-icons .cursor-brand-text{
  height: 16px;
  width: auto;
  
}

.logo-icons a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 2px;  
}

.nav-links ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
}

.nav-links li{
  font-size: 14px;
  font-weight: 300;
}

.nav-links a{
  text-decoration: none;
  color: #f7f7f4;
}

.nav-links a:hover{
  color: #9a9996;
}

nav button{
  border-radius: 15px;
  padding: 0.3rem 0.65rem;

}

.primary-cta{
  display: flex;
  gap: 0.75rem;
}

.primary-cta a{
  text-decoration: none;
  font-size: 0.85rem;
}
.sign-in-cta{
  background-color: #14120b;
  padding: 0.3rem 0.65rem;
  color: #f7f7f4;
  border: 0.05rem solid #9a9996;
  border-radius: 15px;
}

.sign-in-cta:hover{
  color: #d9d9d9;
}

.download-cta-primary{
  background-color: #f7f7f4;
  padding: 0.3rem 0.65rem;
  color: #14120b;
  border: 0.05rem solid #9a9996;
  border-radius: 15px;
}

.download-cta-primary:hover{
  background-color: #e8e8e7;
}

/* Styling the hero */

.hero-text h1{
  font-weight: 400;
  font-size: 24px;
  margin: 1rem 0;
}

.hero .download-cta{
  background-color: #f7f7f4;
  margin: 1rem 0 5rem 0;
  border-radius: 40px;
  max-width: 215px;
  text-align: center;
}

.hero .download-cta:hover{
  background-color: darkgray;
}

.hero .download-cta a{
  color: #14120b;
  font-size: 1rem;
  text-decoration: none;
  display:block;
  padding: 0.75rem;
}

/* Styling Trsted Brands and Logos */

.brand-trust{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:0.35rem;
 
}

.trust-text{
  display:flex;
  justify-content:center;
  font-size: 0.65rem;
}

.trust-text h2{
  font-weight: lighter;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.trusted-logos{
  display:flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.trusted-logos div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1b1913;
  border-radius: 5px;
  width:153.750px;
  height:100px;
  margin-bottom: 5rem;
}

.trusted-logos .stripe-logo svg{
  height:60px;
  width:auto;
}

.trusted-logos .openai-logo svg{
  height:20px;
  width:auto;
}

.trusted-logos .linear-logo svg{
  height:22px;
  width:auto;
}

.trusted-logos .datadog-logo svg{
  height:24px;
  width:auto;
}

.trusted-logos .nvidia-logo svg{
  height:20px;
  width:auto;
}

.trusted-logos .figma-logo svg{
  height:24px;
  width:auto;
}

.trusted-logos .ramp-logo svg{
  height:24px;
  width:auto;
}

.trusted-logos .adobe-logo svg{
  height:36px;
  width:auto;
}

/* Feature Section */

.features{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-bottom:8rem;
}

.feature{
    background-color:#1b1913;
    border-radius: 10px;
    display: grid;
    grid-template-columns:1fr 2fr;
}

.feature:hover{
  background-color:#1d1b15;
}

.feature img{
  padding: 1rem;
  border-radius: 25px;
}

.feature-text h3{
  font-size: 1.375rem;
  margin-bottom: 0;
  font-weight: normal;
}
.feature-text p{
  font-size: 1.275rem;
  color: #9a9996;
  margin-top: 0;
}

.feature-text a{
  color: #f54e00;
  font-size: 1rem;
  text-decoration: none;
}

.feature-text a:hover{
  color: #bf3d0d;
  font-size: 1rem;
  text-decoration: none;
}

.feature-text{
  margin: auto;
  padding: 1rem;
}

.feature-swap{
    background-color:#1b1913;
    border-radius: 10px;
    display: grid;
    grid-template-columns:2fr 1fr;
    align-items: center;
}

.feature-swap img{
  padding: 1rem;
  border-radius: 25px;
}

.feature-swap:hover{
  background-color:#1d1b15;
}

/* Testimonials Section */

.testimonials{
  display: flex;
  flex-direction: column;
  gap:3.5rem;
  margin-bottom: 10rem;
}

.testimonials h2{
  margin: 0 auto;
  font-size: 2.25rem;
  font-weight: normal;
}

.reviews{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:0.75rem;
}

.review{
  height: 280px;
  font-size: 1rem;
  background-color:#1b1913;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: normal;
  line-height: 1.5;
}

.review img{
  width:44px;
  height: 44px;
}

.review p{
  margin:0;
}

.review .reviewer{
  display: flex;
  gap: 0.75rem;
}

.review .reviewer p{
  font-size: 0.9rem;
}

.review .reviewer span{
  color:#9ca4a2;
}

/* Capabilities styling */

.capabilities{
  margin-bottom: 10rem;
}

.capabilities h2{
  font-weight: normal;
  font-size: 1.625rem;
}

.use-cases{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.use-cases h3,p,a{
  font-size: 1rem;
  font-weight: normal;
}

.usecase{
    background-color:#1b1912;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    position:relative;
}

.usecase:hover{
  background-color:#1d1b15;
}


.usecase p{
  color: #9a9996;
}

.usecase a{
  color: #f54e00;
  text-decoration: none;
  position:relative;
}

.usecase a:hover{
  color: #bf3d03;
  text-decoration: none;
}

/* Changelog */

.changelog{
  margin-bottom: 10rem;
}

.changelog h2{
  font-weight: normal;
  font-size:1.625rem;
  margin-bottom: 2rem;
}

.updates{
  display: flex;
  gap:0.5rem;
}

.updates > div{
  flex:1;
}

.update{
      background-color:#1b1912;
      padding: 1rem;
      border-radius: 5px;
      margin-bottom: 2rem;
}

.update:hover{
      background-color:#1d1b15;
      padding: 1rem;
      border-radius: 5px;
}

.update p{
  margin-top: 0;
}

.update-time{
  color: #9b9a98;
}

.changelog span{
  border: 1px solid #9b9a98;
  padding: 0 0.5rem;
  border-radius: 10px;
  margin-right: 0.75rem;
  text-align: center;
}

.changelog a{
  color: #f54e00;
  text-decoration: none;
}

.changelog a:hover{
  color: #bf3d03;
}

/* Styling Teams Section */

.team-work{
  margin-bottom: 12rem;
}

.teams{
  background-color: #1b1913;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-radius: 10px;
}

.teams img{
  padding: 1rem;
  border-radius: 25px;
}

.team-text{
  padding: 1.25rem;
}

.team-text h3{
  font-weight: normal;
  font-size: 1.375rem;
}

.team-text a{
  text-decoration: none;
  font-size: 1rem;
  color: #f54e00;
}

.team-text a:hover{
  color: #bf3d03;
}

/* Styling Recent Highlights */

.highlights-section{
  background-color: #1b1913;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 650px); 
  padding-right: calc(50vw - 650px);
}

.highlights-inner{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding:5rem 0;
}

.highlights-inner h2{
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  position: sticky;
  top: 4.5rem;       /* Distance from the top of the screen when stuck */
  align-self: start; /* Vital for grid items to keep them from stretching */
  height: fit-content;
  z-index: 500;
}

.highlights{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}

.highlights div{
  background-color: #201E18;
  padding:1rem;
  border-radius: 10px;
}

.highlights div:hover{
  background-color: #26241e;
}

.highlight .heading{
  margin-top:0;
  margin-bottom: 0;
}

.highlight .content{
  margin-top: 0;
  margin-bottom: 2rem;
}

.highlight .date{
  margin-bottom: 0;
}

.highlight .content, .date{
  color:#9d9c9a;
}

.highlights a{
  text-decoration: none;
  color: #f54e00;
}

.highlights a:hover{
  color: #bf3d03;
}


/* styling final cta */

.final-cta{
  padding: 8rem 0;
}

.last-cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.last-cta h2{
  font-size: 4.5rem;
  font-weight: normal;
  margin: 0;
}

.last-cta a{
  background-color: #f7f7f4;
  border-radius: 40px;
  max-width: 215px;
  text-align: center;
}

.last-cta a:hover{
  background-color: darkgray;
}

.last-cta a{
  color: #14120b;
  font-size: 1rem;
  text-decoration: none;
  display:block;
  padding: 0.75rem;
}

/* Styling Footer Section */


.footer-spread{
  background-color: #1b1913;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 650px); 
  padding-right: calc(50vw - 650px);
  padding-top:5rem;
  padding-bottom: 0rem;
  margin-bottom: 0;
}

.footer-link-list{
  display: flex;
  gap:10rem;

}

.footer-link{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.45rem;
  font-weight:100;
}

.footer-link h3{
  color:#9a9996;
  margin:0;
  font-size: 0.85rem;
}

.footer-link a{
  text-decoration: none;
  color: #f7f7f4;
  font-weight: normal;
  margin: 0;
}

.absolute-bottom{
  display: flex;
  gap:1rem;
  font-size:0.25rem;
  color: #9a9996;
}

.absolute-bottom p{
  font-size: 0.85rem;
}


.absolute-bottom a{
  color: #9a9996;
  text-decoration: none;
  font-size: 0.85rem;
}

.absolute-bottom a:hover{
  color: #f7f7f4;
}